

.main-content {
  display: flex;
  width: 85%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f4f5f7;
}

.main-content-container {
  width: 92%;
  height: 92%;
}

.main-content-heading {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: #172b4d;
}

.showing-results {
  color: #6b778c;
  font-size: 14px;
}
