<header class="site-header">
  <h1 class="site-title">
    <a href="/" class="logo-link">Uni_Vault</a>
    <% if (title === 'NoteX') { %> |
    <label class="notex-heading" for="NoteX">Notex</label>
    <% } %>
  </h1>
</header>
